# Игнорировать всё
*

# Но НЕ игнорировать .gitignore
!.gitignore

# Не игнорировать папку test1 и всё внутри неё
!test1/
!test1/**

# Игнорировать базу данных
db.sqlite3
products/

# Игнорировать IDE-файлы и временные архивы
.idea/
*.zip
__pycache__/
.venv/
