{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моё знакомство с программированием</title>
    <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
    

</head>
<body>
    <header class="header">
        <nav>
            <ul>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'home' %}">Portfolio</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Моё знакомство с программированием</h1>
        <p>Сначала я хотел стать врачом, потому что меня всегда привлекала возможность помогать людям и спасать жизни. Я изучал биологию, химию и был уверен, что моя карьера будет связана с медициной. Однако, всё изменилось, когда в 9 классе я впервые познакомился с программированием. Я начал с простых алгоритмов, писал небольшие скрипты и постепенно осознал, насколько это увлекательно.</p>
        
        <p>Программирование затянуло меня с головой. Я начал изучать языки программирования, разбираться в структурах данных и алгоритмах. Первые успехи дали мне уверенность, а сложные задачи заставляли проводить ночи за поиском решений. Мне понравилось, что программирование – это не просто код, а целая наука о создании решений и оптимизации процессов.</p>
        
        <img src="{% static 'main/img/Me.jpeg' %}" alt="Me">

        <blockquote>
            "Программирование открыло для меня новые возможности и стало делом моей жизни."
        </blockquote>
        
        <p>С каждым новым проектом я осознавал, что это именно то, чем я хочу заниматься всю жизнь. Я начал изучать веб-разработку, основы баз данных и компьютерные сети. Мне нравится создавать что-то новое, анализировать проблемы и находить лучшие пути их решения.</p>
        
        <p>Сейчас я продолжаю учиться, пробовать новые технологии и совершенствоваться в профессии. Я увлечён разработкой, изучаю современные инструменты и стремлюсь внести свой вклад в мир технологий. Каждый день приносит новые знания, а сложные задачи только подогревают мой интерес.</p>
    </section>

    <footer>
        <p>© 2024 Murat. All rights reserved.</p>
    </footer>
</body>
</html>
